<!DOCTYPE html>
<html>
<head>
<!--<meta http-equiv="Refresh" content="1">-->
<title>Testing websockets</title>
</head>
<script language="JavaScript1.2">
var TotalTimelenth=0;
var timer;
function TimeGo()
{
	  TotalTimelenth++;
	  //TimeLenth.value=TotalTimelenth;
	  var Hour,Minue,Second;
	Hour=Math.floor(TotalTimelenth/3600);
	Minue=Math.floor((TotalTimelenth/60)%60);
	Second=Math.floor(TotalTimelenth%60);
	//Time=Hour+"时"+Minue+"分"+Second+"秒";
	TimeLenth.value=Hour+"时"+Minue+"分"+Second+"秒";
}

</script>
<body>
  <f>
	<fieldset>
		<legend align="center" >捷宇 技术 </legend>
		<p><img id="photo" src="" width=900 height=400 ></p>
		<input type="button" style=background:green value="启动主" name="StartBtn"  onClick="start('bStartPlay')">
		<input type="button" style=background:green value="旋转启动主" name="StartBtn"  onClick="start('bStartPlayRotate(90)')">
		<input type="button" style=background:green value="启动副" name="StopBtn" onClick="start('bStartPlay2')">
		<input type="button" style=background:green value="停止" name="StopBtn" onClick="start('bStopPlay')">
		<input type="button" style=background:green value="自动对焦" name="AutoFocus" onClick="start('AutoFocus')">
		<input type="button" style=background:green value="识别二维码/条形码" name="sGetBarCodeOnline" onClick="start('sGetBarCodeOnline')">
		<input type="button" style=background:green value="去黑边" name="StartBtn"  onClick="start('vSetDelHBFlag(true)')">
		<input type="button" style=background:green value="设置视频显示模式" name="StartBtn"  onClick="start('vSetVideoDispMode(0)')">
		<input type="button" style=background:green value="旋转启动" name="sGetBase64" onClick="start('bStartPlayRotate(270)')">
		<input type="button" style=background:green value="设置分辨率" name="sGetBase64" onClick="start('vSetResolution(5)')">
		<input type="button" style=background:green value="设置旋转角度" name="sGetBase64" onClick="start('vSetRotate(0)')">
		<input type="button" style=background:green value="Base64" name="sGetBase64" onClick="start('sGetBase64')">
		<input type="button" style=background:green value="开始录屏" name="bStartRec" onClick="start('bStartRec(d:\\test.avi)')">
		录制时间：<input id="TimeLenth" type="text" value="" size="15"/>
		<input type="button" style=background:green value="停止录屏" name="bStartRec" onClick="start('bStopRec')">
		<P>
		<input type="button" value="拍照" name="SaveJPGBtn" onClick="start('bSaveJPG(D:\\,Photo)')">
		<input type="button" value="http上传" name="bUpLoadImage" onClick="start('bUpLoadImage(D:\\1.JPG|D:\\2.JPG|D:\\3.JPG,127.0.0.1,8080,/shop/servlet/uploadServlet)')">
		<input type="button" value="sUpLoadImageEx2" name="sUpLoadImageEx2" onClick="start('sUpLoadImageEx2(D:\\1.JPG|D:\\2.JPG|D:\\3.JPG,127.0.0.1,8080,/shop/servlet/uploadServlet,false,true)')">
		<input type="button" value="ftp上传" name="iUploadFileToFtpEx" onClick="start('iUploadFileToFtpEx(127.0.0.1,name,password,d:\\test.jpg,/FTPPath/temp,test.jpg,true)')">
		<input type="button" style=background:green value="FILTER设置" name="ParaSet" onClick="start('displayVideoPara')">
		<input type="button" style=background:green value="PIN设置" name="ParaSet" onClick="start('vSetCapturePin')">
		<P>
		<input type="button" style=background:green value="bSetMode" name="ParaSet" onClick="start('bSetMode(3)')">
		<input type="button" style=background:green value="vSetExposure" name="ParaSet" onClick="start('vSetExposure(50)')">
		<input type="button" style=background:green value="vSetBrightness" name="ParaSet" onClick="start('vSetBrightness(30)')">
		<input type="button" style=background:green value="vSetContrast" name="ParaSet" onClick="start('vSetContrast(50)')">
		<input type="button" style=background:green value="vSetResolutionEx" name="ParaSet" onClick="start('vSetResolutionEx(1,2)')">
		<input type="button" style=background:green value="vSetVideoCompressTypeEx" name="ParaSet" onClick="start('vSetVideoCompressTypeEx(1,1)')">
		<P>

	</fieldset>
   </f>
   <div id="messages"></div>
   <script type="text/javascript">
     var webSocket =
       new WebSocket('ws://localhost:1818');

   window.onbeforeunload = function() {
    webSocket.send("bStopPlay()");
	};
     webSocket.onerror = function(event) {
      onError(event);
	//   alert(event.data);
    };

     webSocket.onopen = function(event) {
      onOpen(event);
	///webSocket.send('bStartPlay');
	//alert(event.data);
     };

    webSocket.onclose = function(event) {
       onClose(event);
	//   alert(event.data);
    };

     webSocket.onmessage = function(event) {
      onMessage(event)
    }
	var begin_data="data:image/jpeg;base64,";
    function onMessage(event)
	{
//	  $("#photo").attr('src','data:image/jpeg;base64,'+event);
	//alert(event.data);
		if(event.data.indexOf('BarCodeTransferBegin')>=0){
			alert(event.data.replace('BarCodeTransferBegin','').replace('BarCodeTransferEnd',''));
		} else if (event.data.indexOf('BeginBase64')>=0) {
            //document.getElementById("preview").src = begin_data + event.data.substring(0, event.data.length - 11);
			alert(event.data.replace('BeginBase64','').replace('EndBase64',''));
			//alert(begin_data + event.data.substring(0, event.data.length - 11));
        } else {
			document.getElementById('photo').src =begin_data+event.data;
		}

	//document.getElementById('photo').src =begin_data+event.data;
//	document.getElementById('result').value = event.data;
//	document.getElementById('photo').src =event.data;
       <!-- += '<br />' + event.data;-->
	}
	function onError(event)
	{
       alert(event.data);
	}
	function onClose(event)
	{
		webSocket.send("bStopPlay()");
	}
	function onOpen(event)
	{
	}

	function start(el)
	{
	    console.log(el);
	 if(el=='bStartRec(d:\\test.avi)')
	 {
		timer = window.setInterval("TimeGo()",1000);
	 }
	 if(el=='bStopRec')
	 {
		window.clearInterval(timer);
		TotalTimelenth=0;
		alert("录屏结束");
	 }
       webSocket.send(el);
       return false;
	}
	function vout_OnClick()
	{

	}

   </script>
 </body>
 </html>
